body {
    font-family: Arial, sans-serif;
    /* margin-top: 5rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 5rem; */
    margin: 6rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}
.logo {
    flex: 1;
}

.logo-img {
    max-width: 150px;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    flex: 1;
}
.in{
    display: flex;
    justify-content: space-between;
}
.company-details
 {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    height: 100%;
}
.client-details{
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 70%;
    height: 100%;
}
.first{
    display: flex;
    gap: 10px;
    width: 100%;
}
h2 {
    margin-bottom: 10px;
}

.invoice-info {
    padding: 20px;
}

.invoice-info p {
    margin-bottom: 10px;
}

.invoice-info p span {
    font-weight: bold;
}

.table-container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tfoot td {
    font-weight: bold;
}

.invoice-summary {
    width: 600px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.invoice-summary h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.invoice-summary table {
    width: 100%;
    border-collapse: collapse;
}
.invoice-summary table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

.summary{
    width: fit-content;
    display: flex; 
    justify-content: flex-end;
}
.heading{
    display: flex;
    justify-content: center;
}